<div class="container">
  <div class="row size-small">
    <div class="col-12">


      <div *ngFor="let user of applicationUsers" class="shadow mb-4 p-2 bg-white rounded">


        <p>
          <ngb-progressbar class="bar-pro" placement="top" type="warning" [striped]="true" [animated]="true" height="16px"
                           ngbTooltip="{{user.expTotalEarned}}  / {{user.expToNextLevel}}"
                           value="{{user.percentToNextLvl * 100}} ">
            <i>{{user.percentToNextLvl * 100}} %</i>
          </ngb-progressbar>
        </p>


        <div class="row ">
          <div class="col-sm-12">
            <div class="col-sm-4 float-left">
              <p> {{user.firstName}} {{user.lastName}}</p>
            </div>
            <div class="col-sm-8 float-right right-exp">
              <p>Level: <span>{{user.level}}</span></p>
              <p>Attack: <span>{{user.attack}}</span></p>
              <p>Defence: <span>{{user.defence}}</span></p>
              <p>Knowledge: <span>{{user.knowledge}}</span></p>
              <p>Speed Atack: <span>{{user.knowledge}}</span></p>
              <p>Point to add: <span>{{user.pointsToAdd}}</span></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
