<div class="container">
  <div class="row">

    <div class="col-sm-12">

      <div class="card-columns " >
        <div class="card mb-3 shadow  bg-white rounded" *ngFor="let riskVariant of application.riskVariants" [ngClass]="{'bg-light border-primary' : riskVariant.addedToCart}" style="min-width: 250px">
          <div class="card-header" [ngClass]="{'text-primary' : riskVariant.addedToCart}">{{riskVariant.displayName}}</div>
          <div class="card-body">
            <p class="card-text">Cena: {{getPrice(riskVariant.premiumList)}}zł</p>
          </div>
          <button *ngIf="!riskVariant.addedToCart && riskVariant.name !== 'OC'" class="btn btn-outline-primary btn-block" (click)="addRiskToCart(riskVariant.name)">Add</button>
          <button *ngIf="riskVariant.addedToCart && riskVariant.name !== 'OC'" class="btn btn-outline-primary btn-block" (click)="removeFromCart(riskVariant.name)">Remove</button>
          <button *ngIf="riskVariant.name === 'OC'" class="btn btn-outline-primary btn-block disabled">Remove</button>
        </div>
      </div>


      <div class="row">
        <div>
          <h4 >Cena łączna: {{totalPrice}}</h4>
        </div>
      </div>

      <div id="instaltments">
        <button *ngFor="let inst of instaltments" [ngClass]="{'active' : inst.value === 1}"
                (click)="setInstallmentAmount(inst.value); applicationsService.onButtonGroupClick($event);recalculateBaseOnInstaltment()"
                class="btn btn-default btn-question">
          {{inst.name}}
        </button>
      </div>


    </div>

    <button type="submit" (click)="updateApplicaiton()"  class="col-sm-12 btn btn-default text-center next button-nextStep mt-4">
      PODAJ DANE DO POLISY &gt;
    </button>


  </div>
</div>
