<div class="container">
  <div class="row">




      <div class="col-lg-6">
        <div class="container">
          <h2 class="nav nav-pills mb-3 shadow p-3">Moja Lista</h2>
        </div>

        <hr>
        <h5>Active task: </h5>

        <ul class="list-group list-group-flush">
          <div style="max-height: 50px;" class="list-group-item d-flex justify-content-between align-items-center"
               *ngFor="let data of todosList ; let i = index"
               [routerLink]="[data.id]"
               routerLinkActive="active">
            <div class="col-lg-2">
              <input type="checkbox" (change)="changeStateToDone(i, $event.target.checked)"
                     name="checkboxG4" id="checkbox{{data.id}}" class="css-checkbox">
              <label for="checkbox{{data.id}}" class="css-label"></label>
            </div>
            <div class="col-lg-10" type="card-active">
              <a style="cursor: pointer;">
                <p class="text-right">{{data.title}}</p>
              </a>
            </div>
          </div>
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-lg-4">
              <button class="btn btn-warning btn-circle btn-lg" (click)="addNewCard()" type="submit">
               +
              </button>
            </div>
            <div class="col-lg-8">
              <form class="form-group" (ngSubmit)="addNewCard()" #toDoForm="ngForm">
                <input id="title" ngModel name="title" type="text" class="text-line" placeholder="Enter title" >
              </form>
            </div>
          </div>


        </ul>

        <hr>
        <h5>Done task : </h5>

        <ul class="list-group list-group-flush">
          <div class="list-group-item d-flex justify-content-between align-items-center"
               *ngFor="let done of todoListDOne; let i = index"
               [routerLink]="[done.id]"
               routerLinkActive="active">

            <div class="col-lg-2">
              <input [checked]="(done.state == 'DONE') ? true : false" (change)="changeStateToDone(i, $event.target.checked)" type="checkbox"
                     name="checkboxG4" id="checkbox{{i}}}" class="css-checkbox">
              <label for="checkbox{{i}}}" class="css-label"></label>
            </div>
            <div class="col-lg-10" type="card-done">
              <a>
                <p class="text-right">{{done.title}}</p>
              </a>
            </div>
          </div>
        </ul>

        <hr>
      </div>

      <div class="col-lg-6 todocard">
        <div class="card rounded border border-warning sticky">
          <router-outlet></router-outlet>
        </div>
      </div>


    </div>




