.fix-body-scroll {
  overflow-y: auto;
  height: 900px;
  display: flex;
}

.todoList-wrapper {
  display: inline-block;
  max-height: 100%;
}


.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}

