

<div  class="container">
  <div class="row" >
    <div #panel class=" col-lg-4 mx-auto" >
      <div class="card shadow rounded m-3 ">
        <img class="card-img-top img-fluid rounded-circle"
             src="https://avatars0.githubusercontent.com/u/22495251?s=400&v=4">

        <div class="card-body">
          <h4 class="card-title text-center">{{userService.getUserObjet().firstName}} {{userService.getUserObjet().lastName}}</h4>
          <h6 class="card-subtitle text-center">{{userService.getUserObjet().email}}</h6>
          <div class="col-lg-12" >
            <!--<p  class="input-group">{}</p>-->
          </div>

        </div>

        <!--Ocpja1-->
        <ul class="list-group list-group-flush">
          <a style="cursor: pointer; " (click)="onSettings()" class="list-group-item ">
            <div>
              <h4 class="list-group-item-heading text-center ">
               User settings</h4>
            </div>
          </a>
        </ul>
        <!--Opcja 2-->
        <ul class="list-group list-group-flush">
          <a style="cursor: pointer;" (click)="onScoreBoard()"  class="list-group-item ">
            <div>
              <h4 class="list-group-item-heading text-center ">
                Scoreboard</h4>
            </div>
          </a>
        </ul>
        <!--Opcja3-->
        <ul class="list-group list-group-flush">
          <a style="cursor: pointer;" class="list-group-item ">
            <div>
              <h4 class="list-group-item-heading text-center ">
                Other</h4>
            </div>
          </a>
        </ul>


      </div>
    </div>
    <!--Space-->

    <div #panel2>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
