

<div class="container">
  <div class="row" >
    <div class="col-lg-5" >
      <div class="card shadow rounded m-3">
        <img class="card-img-top img-fluid rounded-circle"
             src="https://avatars0.githubusercontent.com/u/22495251?s=400&v=4">

        <div class="card-body">
          <h4 class="card-title text-center">{{applicationUser.firstName}} {{applicationUser.lastName}}</h4>
          <h6 class="card-subtitle text-center">{{applicationUser.email}}</h6>
          <div class="col-lg-12" >
            <p  class="input-group"*ngFor="let role of applicationUser"></p>
          </div>

        </div>

        <!--Ocpja1-->
        <ul class="list-group list-group-flush">
          <a style="cursor: pointer; " (click)="onSettings()" class="list-group-item ">
            <div>
              <h4 class="list-group-item-heading text-center ">
                Ustawienia użytkownika</h4>
            </div>
          </a>
        </ul>
        <!--Opcja 2-->
        <ul class="list-group list-group-flush">
          <a style="cursor: pointer;" (click)="onScoreBoard()"  class="list-group-item ">
            <div>
              <h4 class="list-group-item-heading text-center ">
                Tablica Wyników</h4>
            </div>
          </a>
        </ul>
        <!--Opcja3-->
        <ul class="list-group list-group-flush">
          <a style="cursor: pointer;" class="list-group-item ">
            <div>
              <h4 class="list-group-item-heading text-center ">
                Opcja3</h4>
            </div>
          </a>
        </ul>


      </div>
    </div>
    <!--Space-->
    <div class="col-lg-2"></div>
    <div class="col-lg-5" >
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
