@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #ffc107;

}

input[type=text], input[type=text]:focus, select, select:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  -webkit-transition: none!important;
  transition: none!important;
  border: 1px solid #e6e4e3;
  text-overflow: ""!important;
}


* {
  font-family: Roboto, "Helvetica Neue", sans-serif /*Replace with your custom font*/
  /*Add the !important to overwrite all elements*/
}
