<div class="container">
  <div class="row">
    <div class="col-sm-12">



      <div class="policy-box h-50">

        <ul class="nav nav-pills mb-3 shadow p-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">7 Days</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">30 Days</a>
          </li>
        </ul>




        <div  class="tab-content mt-3 shadow" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <div *ngIf="!isApplicationFromToday" class="alert shadow alert-primary" role="alert">
              none application to show for current user.
            </div>

            <table *ngIf="isApplicationFromToday" class="table table-fixed">
              <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Customer</th>
                <th scope="col">Car</th>
                <th scope="col">Policy Value</th>
                <th scope="col">State</th>
                <th scope="col">Register</th>
              </tr>
              </thead>
              <tbody *ngFor="let application of userApplications">
              <tr *ngIf="application.registerDate === today">
                <th scope="row" (click)="showPolicyDetails(application.number)">{{application.number}} </th>
                <td>{{application.persons[0]?.firstName}} {{application.persons[0]?.lastName}}</td>
                <td>{{application.vehicle.mark}} {{application.vehicle.model}}</td>
                <td>{{application.totalPolicyValue}}<span *ngIf="application.totalPolicyValue !== undefined">zł</span></td>
                <td>{{application.state}}</td>
                <td>{{application.registerDate}}</td>
              </tr>



              </tbody>
            </table>

          </div>


          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">


            <table  class="table">
              <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Customer</th>
                <th scope="col">Car</th>
                <th scope="col">Policy Value</th>
                <th scope="col">State</th>
                <th scope="col">Register</th>
              </tr>
              </thead>
              <tbody *ngFor="let application of userApplications">
              <tr *ngIf="application.registerDate >= days7">
                <th scope="row" (click)="showPolicyDetails(application.number)">{{application.number}}</th>
                <td>{{application.persons[0]?.firstName}} {{application.persons[0]?.lastName}}</td>
                <td>{{application.vehicle.mark}} {{application.vehicle.model}}</td>
                <td>{{application.totalPolicyValue}}<span *ngIf="application.totalPolicyValue !== undefined">zł</span></td>
                <td>{{application.state}}</td>
                <td>{{application.registerDate}}</td>
              </tr>
              </tbody>
            </table>

          </div>

          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

            <table class="table">
              <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Customer</th>
                <th scope="col">Car</th>
                <th scope="col">Policy Value</th>
                <th scope="col">State</th>
                <th scope="col">Register</th>
              </tr>
              </thead>
              <tbody *ngFor="let application of userApplications">
              <tr *ngIf="application.registerDate >= days30">
                <th scope="row" (click)="showPolicyDetails(application.number)">{{application.number}}</th>
                <td>{{application.persons[0]?.firstName}} {{application.persons[0]?.lastName}}</td>
                <td>{{application.vehicle.mark}} {{application.vehicle.model}}</td>
                <td>{{application.totalPolicyValue}}<span *ngIf="application.totalPolicyValue !== undefined">zł</span></td>
                <td>{{application.state}}</td>
                <td>{{application.registerDate}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div *ngIf="showPolicyDetailsWindows" class="col-sm-12">
          <div class="card">
            <h5 class="card-header text-center">Details of {{selectedApplication.number}}</h5>
            <div class="card-body">

              <h4><span class="badge badge-warning w-100">Basics information</span></h4>
              <div class="card-text col-sm-12 row">
                <div class="col-sm-3"><b>Register Date</b> <br>{{selectedApplication.registerDate}}</div>
                <div class="col-sm-3"><b>Installment Amount</b> <br>{{selectedApplication.installmentAmount}}</div>
                <div class="col-sm-3"><b>State</b> <br>{{selectedApplication.state}}</div>
                <div class="col-sm-3"><b>Number</b> <br>{{selectedApplication.number}}</div>
              </div>

              <h4><span class="badge badge-warning w-100" *ngIf="selectedApplication.risks.length !== 0">Risks</span></h4>

                <div class="card-text col-sm-12 row">
                  <div class="col-sm-3" *ngFor="let risk of selectedApplication.risks">
                    <b>{{risk.name}}</b> <br>{{getPrice(risk.premiumList)}}zł
                  </div>
                </div>

              <h4><span class="badge badge-warning w-100">Seller</span></h4>
              <div class="card-text col-sm-12 row">
                <div class="col-sm-3"><b>First Name</b> <br>{{selectedApplication.seller.firstName}}</div>
                <div class="col-sm-3"><b>Last Name</b> <br>{{selectedApplication.seller.lastName}}</div>
                <div class="col-sm-3"><b>Email</b> <br>{{selectedApplication.seller.email}}</div>
              </div>

              <h4><span class="badge badge-warning w-100">Customer</span></h4>
              <div class="card-text col-sm-12 row">
                <div class="col-sm-3"><b>First Name</b> <br>{{selectedApplication.persons[0].firstName}}</div>
                <div class="col-sm-3"><b>Gearbox Count</b> <br>{{selectedApplication.persons[0].lastName}}</div>
                <div class="col-sm-3"><b>Pesel</b> <br>{{selectedApplication.persons[0].pesel}}</div>
                <div class="col-sm-3"><b>Postal Code</b> <br>{{selectedApplication.persons[0].address.postalCode}}</div>
                <div class="col-sm-3"><b>City</b> <br>{{selectedApplication.persons[0].address.city}}</div>
                <div class="col-sm-3"><b>Street</b> <br>{{selectedApplication.persons[0].address.street}}</div>
                <div class="col-sm-3"><b>House</b> <br>{{selectedApplication.persons[0].address.house}}</div>
                <div class="col-sm-3"><b>Apartment</b> <br>{{selectedApplication.persons[0].address.apartment}}</div>
                <div class="col-sm-3"><b>Day Of Birth</b> <br>{{selectedApplication.persons[0].dayOfBirth}}</div>
                <div class="col-sm-3"><b>Driving License Issue Date</b> <br>{{selectedApplication.persons[0].drivingLicenseIssueDate}}</div>
              </div>

              <h4><span class="badge badge-warning w-100">Car</span></h4>
              <div class="card-text col-sm-12 row">
                <div class="col-sm-3"><b>Mark</b> <br>{{selectedApplication.vehicle.mark}}</div>
                <div class="col-sm-3"><b>Model</b><br>{{selectedApplication.vehicle.model}}</div>
                <div class="col-sm-3"><b>Rok produkcji</b><br>{{selectedApplication.vehicle.productionYear}}</div>
                <div class="col-sm-3"><b>Vin</b><br>{{selectedApplication.vehicle.vin}}</div>
                <div class="col-sm-3"><b>Licence Plate</b> <br>{{selectedApplication.vehicle.licencePlateNumber}}</div>
                <div class="col-sm-3"><b>Engine Capacity</b><br>{{selectedApplication.vehicle.engineCapacity}}</div>
                <div class="col-sm-3"><b>Type</b><br>{{selectedApplication.vehicle.type}}</div>
                <div class="col-sm-3"><b>Load Weight</b><br>{{selectedApplication.vehicle.loadWeight}}</div>
                <div class="col-sm-3"><b>Engine power</b> <br>{{selectedApplication.vehicle.enginePower}}</div>
                <div class="col-sm-3"><b>Cylinders Count</b><br>{{selectedApplication.vehicle.cylindersCount}}</div>
                <div class="col-sm-3"><b>Seat Count</b><br>{{selectedApplication.vehicle.seatCount}}</div>
                <div class="col-sm-3"><b>Doors Count</b><br>{{selectedApplication.vehicle.doorsCount}}</div>
                <div class="col-sm-3"><b>Gearbox Count</b> <br>{{selectedApplication.vehicle.gearboxCount}}</div>
                <div class="col-sm-3"><b>Gearbox Type</b><br>{{selectedApplication.vehicle.gearboxType}}</div>
                <div class="col-sm-3"><b>Engine HPower</b><br>{{selectedApplication.vehicle.engineHPower}}</div>
                <div class="col-sm-3"><b>Fuel Type</b><br>{{selectedApplication.vehicle.fuelType}}</div>
                <div class="col-sm-3"><b>Body Type</b> <br>{{selectedApplication.vehicle.bodyType}}</div>
                <div class="col-sm-3"><b>Vehicle Value</b><br>{{selectedApplication.vehicle.vehicleValue}}</div>
              </div>



            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
